*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{font-family: sans-serif;

}
.boxed{
    width: 400px;
    margin: 0 auto;
}


/* header */
.container-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 480px;
    background-color: aqua;
    height: 50px;
    border: dashed 2px;
    margin-bottom: 2rem;
}
.nav-column{
    background-color: lightgray;
    padding: 1rem;

}

.debug{
    background-color: aquamarine;
    border: dashed 2px;
}
/* main */

/* sezione a 5 colonne */

.container-demo{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.demo-application{
    min-height: 300px;
}
.clean-code, .testimonial-card, .benefits-card{
    margin-top: 1rem;
}

/* sezione planning */

.container-planning, .container-benefits{
    background-color: violet;
    margin-top: 2rem;
    padding: 2rem;
}

/* sezione testimonials */

.container-testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.testimonials{
    padding: 1rem;
}

.testimonial-card, .testimonials-text
, .benefits-card{
    padding: 1rem;
}

/* sezione benefits */
.container-benefits{
    display: flex;
    -ms-flex-direction: column;
    align-items: center;
}
.benefits-card{
min-height: 300px;
}