*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{font-family: sans-serif;

}
.boxed{
    width: 400px;
    margin: 0 auto;
}


/* header */
header{
    background-color: aqua;
}

.container-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 480px;
    background-color: aqua;
    height: 50px;
    border: dashed 2px;
    margin-bottom: 2rem;
}
.nav-column{
    background-color: lightgray;
    padding: 1rem;

}

.debug{
    background-color: aquamarine;
    border: dashed 2px;
}
/* main */

/* sezione a 5 colonne */

.container-demo{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.demo-application{
    min-height: 300px;
}
.testimonial-card, .benefits-card, .about-us-text, .about-us-img,
.get-started{
    margin-top: 1rem;
}

/* sezione planning */

.container-planning, .container-benefits, .container-get-started{
    background-color: violet;
    margin-top: 2rem;
    padding: 2rem;
}

/* sezione testimonials */

.container-testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.testimonials{
    padding: 1rem;
}

.testimonial-card, .testimonials-text
, .benefits-card, .about-us-text, .about-us-img,
.get-started, .footer-text{
    padding: 1rem;
}

/* sezione benefits */
.container-benefits{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.benefits-card{
min-height: 300px;
}

/* sezione about us */

.container-about-us{
    display: flex;
    flex-direction: column;

}

/* footer */
.container-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
}

/* media queris tablet */

/* nav tablet */
@media screen and (min-width: 768px){
    .container-nav{
        justify-content: space-between;
        width: auto;
    }

    .nav-column{
        margin: 0 1rem;
    }
}

/* sezione demo 5 colonne tablet */
@media screen and (min-width: 768px){
    .container-demo{
        flex-direction: row;
        flex-wrap: wrap;
        width: 768px;
        gap: 1rem;
    }

    .demo-application{
        width: calc(67% - 1rem);
    }

    .clean-code{
        width: calc(33% - 1rem);
    }
}

/* sezione benefits */

@media screen and (min-width: 768px){
    .benefits{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
        width: 100%;
    }

    .benefits-card{
        width: calc(100% / 2 - 1rem);

    }

    .h2{
        width: 100%;
    }
}

/* about us */


@media screen and (min-width: 768px){
    .container-about-us{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
       
        gap: 1rem;
    }

    .about-us-text{
        width: calc(60% - 1rem);
        margin-left: 2rem;
    }

    .about-us-img{
        width: calc(40% - 1rem);
        margin-right: 2rem;
    }
}

/* media queries desktop */

/* nav desktop */

@media screen and (min-width: 1160px){
.container-nav{
    width: 70%;
    margin: 0 auto;
}
}

/* sezione demo 5 colonne */
@media screen and (min-width: 1160px){
    .container-demo{
        width: 70%;
        margin: 0 auto;
    }
    }

    /* sezione planning */

    @media screen and (min-width: 1160px){
        .planning-flex {
            display: flex;
            flex-direction: row;
            width: 70%;
            margin: 0 auto;
            gap: 1rem;
        }

        .planning{
            width: 50%;
        }
    }

    /* sezione desktop testimonials */
    @media screen and (min-width: 1160px){
        .testimonials{
            width: 70%;
        }
    }
    /* sezione desktop benefits */

    @media screen and (min-width: 1160px) {
        .benefits{
            width: 70%;
        }
        .benefits-card{
            width: calc(100% / 3 - 1rem);
        }
    }

    /* sezione desktop about us */

    @media screen and (min-width: 1160px){
        .container-about-us{
            width: 72%;
            margin: 0 auto;
        }
    }